@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

:root {
    --color_01: #ffffff;
    --color_02: #092433;
    --color_03: #f5f7f8;
    --color_04: #eb4247;
    --color_05: #b5bdc2;
    --color_06: #dadee0;
    --color_07: #ebeff1;
    --color_08: #5f717a;
    --color_09: #1890ff;
    --color_10: #f5222d;
    --color_11: #9da7ad;
    --color_12: #45b780;
    --color_13: #c42d37;
    --color_14: #223a47;
    --color_15: #309166;
    --color_16: #faad14;
    --color_17: #fff1f0;
    --color_18: #effaf3;
    --color_19: #fef5f6;
    --color_20: #374e5a;
    --color_21: #808f96;
    --color_22: #e8e8e8;
    --color_23: #e6f7ff;
    --color_24: #fffbe6;
    --color_25: #bfdecc;
    --color_26: #91d5ff;
    --color_27: #ffe58f;
    --color_28: #ffccc7;
    --color_29: #fff0f6;
    --color_30: #fff2e8;
    --color_31: #f9f0ff;
    --color_32: #f0f5ff;
    --color_33: #c41d7f;
    --color_34: #d4380d;
    --color_35: #531dab;
    --color_36: #1d39c4;
    --color_37: #ff4d4f;
    --color_38: #a8071a;
    --color_39: #ff7a45;
    --color_40: #096dd9;
    --color_41: #fa541c;
    --color_42: #177ddc;
    --color_43: #65b7f3;
    --color_44: #0050b3;
    --color_45: #b5b5b5;
    --color_46: #69c0ff;
    --color_47: #9e1c29;
    --color_48: #cf1322;
    --color_49: #7e9c5e;
    --color_50: #839098;
    --color_51: #0a2433;
    --color_52: #e94247;
    --color_53: #152231;
    --color_54: #d8504e;
    --color_55: #002534;
    --color_56: #fa2540;
    --color_57: #d24d4e;
    --color_58: #ff293e;
    --color_59: #636e73;
    --color_60: #828f97;
    --color_61: #e73f48;
    --color_62: #112332;
    --color_63: #f76d6d;
    --color_64: #f0f0f0;
    --color_65: #181d20;
    --color_66: #ffa6a6;
    --color_67: #6ac496;
    --color_68: #f759ab;
    --color_69: #9254de;
    --color_70: #597ef7;
    --color_71: #eb2f96;
    --color_72: #722ed1;
    --color_73: #2f54eb;
    --color_74: #ffa39e;
    --color_75: #ffadd2;
    --color_76: #ffbb96;
    --color_77: #d3adf7;
    --color_78: #adc6ff;
    --color_79: #d4e8dc;
    --color_80: #ffd6e7;
    --color_81: #ffd8bf;
    --color_82: #efdbff;
    --color_83: #d6e4ff;
    --color_84: #c2c6c9;
    --color_85: #2d3236;
    --color_86: #d9d9d9;

    --order-list-item-border: var(--color_22);
    --panel-unified-menu-item__background__active: var(--color_03);
    --panel-profile-button_second-color__base: var(--color_21);
    --panel-profile-button_color__base: var(--color_02);
    --panel-header-button_background_hover: var(--color_03);
    --sui-alert_bg-color__success: var(--color_18);
    --sui-alert_bg-color__info: var(--color_23);
    --sui-alert_bg-color__warning: var(--color_24);
    --sui-alert_bg-color__danger: var(--color_17);
    --sui-alert_border-color__success: var(--color_25);
    --sui-alert_border-color__info: var(--color_26);
    --sui-alert_border-color__warning: var(--color_27);
    --sui-alert_border-color__danger: var(--color_28);
    --sui-alert_icon-color__success: var(--color_12);
    --sui-alert_icon-color__info: var(--color_09);
    --sui-alert_icon-color__warning: var(--color_16);
    --sui-alert_icon-color__danger: var(--color_10);
    --sui-alert_bg-color__info_block: var(--color_03);
    --sui-alert_border-color__info_block: var(--color_07);
    --sui-avatar_border_color: var(--color_03);
    --sui-avatar_background__base: var(--color_07);
    --sui-avatar_text__base: var(--color_02);
    --sui-avatar_background__red: var(--color_19);
    --sui-submenu-item_color__active: var(--color_04);
    --sui-dropdown-button_background_hover: var(--color_03);
    --sui-avatar_background__green: var(--color_18);
    --sui-avatar_background__magenta: var(--color_29);
    --sui-avatar_background__volcano: var(--color_30);
    --sui-submenu-border_color: var(--color_06);
    --sui-avatar_background__purple: var(--color_31);
    --sui-avatar_background__geekblue: var(--color_32);
    --sui-avatar_text__red: var(--color_13);
    --sui-avatar_text__green: var(--color_15);
    --sui-avatar_text__magenta: var(--color_33);
    --sui-avatar_text__volcano: var(--color_34);
    --sui-avatar_text__purple: var(--color_35);
    --sui-avatar_text__geekblue: var(--color_36);
    --sui-avatar_position_text: var(--color_11);
    --sui-avatar_name_text_hover: var(--color_37);
    --sui-badge_background__base: var(--color_07);
    --sui-badge_text__base: var(--color_02);
    --sui-badge_background__red: var(--color_19);
    --sui-badge_background__green: var(--color_18);
    --sui-badge_background__magenta: var(--color_29);
    --sui-badge_background__volcano: var(--color_30);
    --sui-badge_background__purple: var(--color_31);
    --sui-badge_background__geekblue: var(--color_32);
    --sui-badge_text__red: var(--color_13);
    --sui-badge_text__green: var(--color_15);
    --sui-badge_text__magenta: var(--color_33);
    --sui-badge_text__volcano: var(--color_34);
    --sui-badge_text__purple: var(--color_35);
    --sui-badge_text__geekblue: var(--color_36);
    --sui-badge_background__disabled: var(--color_07);
    --sui-badge_text__disabled: var(--color_11);
    --sui-badge-counter_text__red: var(--color_01);
    --sui-badge-counter_background__red: var(--color_04);
    --sui-badge-counter_background__red-hover: var(--color_13);
    --sui-badge-counter_text__disabled: var(--color_05);
    --sui-badge-counter_background__disabled: var(--color_03);
    --sui-badge-counter_background__gray-hover: var(--color_03);
    --sui-badge_text__error: var(--color_10);
    --sui-badge_text__success: var(--color_15);
    --sui-badge_text__warning: var(--color_39);
    --sui-badge_text__default: var(--color_08);
    --sui-badge_text__processing: var(--color_40);
    --sui-badge_indicator__error: var(--color_04);
    --sui-badge_indicator__success: var(--color_12);
    --sui-badge_indicator__processing: var(--color_09);
    --sui-badge_indicator__default: var(--color_11);
    --sui-bordered-block_border_color__indefinite: var(--color_06);
    --sui-bordered-block_border_color__nested: var(--color_08);
    --sui-breadcrumb_color__default: var(--color_08);
    --sui-breadcrumb_color__disabled: var(--color_05);
    --sui-breadcrumb_color__hover: var(--color_02);
    --sui-button_primary-background__base: var(--color_02);
    --sui-button_primary-background__hover: var(--color_04);
    --sui-button_primary-background__focus: var(--color_13);
    --sui-button_primary-background__disable: var(--color_03);
    --sui-button_primary-border__base: var(--color_02);
    --sui-button_primary-border__hover: var(--color_04);
    --sui-button_primary-border__focus: var(--color_13);
    --sui-button_primary-border__disable: var(--color_05);
    --sui-button_primary-color__base: var(--color_01);
    --sui-button_primary-color__hover: var(--color_01);
    --sui-button_primary-color__focus: var(--color_01);
    --sui-button_primary-color__disable: var(--color_05);
    --sui-button_secondary-background__base: var(--color_01);
    --sui-button_secondary-background__hover: var(--color_01);
    --sui-button_secondary-background__focus: var(--color_01);
    --sui-button_secondary-background__active: var(--color_19);
    --sui-button_secondary-background__disable: var(--color_03);
    --sui-button_secondary-border__base: var(--color_02);
    --sui-button_secondary-border__hover: var(--color_04);
    --sui-button_secondary-border__focus: var(--color_04);
    --sui-button_secondary-border__disable: var(--color_05);
    --sui-button_secondary-color__base: var(--color_02);
    --sui-button_secondary-color__hover: var(--color_04);
    --sui-button_secondary-color__focus: var(--color_04);
    --sui-button_secondary-color__disable: var(--color_05);
    --sui-button_text-background__base: transparent;
    --sui-button_text-background__hover: var(--color_03);
    --sui-button_text-background__active: var(--color_07);
    --sui-button_text-background__focus: var(--color_07);
    --sui-button_text-background__disable: transparent;
    --sui-button_text-border__base: transparent;
    --sui-button_text-border__hover: var(--color_03);
    --sui-button_text-border__active: var(--color_07);
    --sui-button_text-border__focus: var(--color_03);
    --sui-button_text-border__disable: transparent;
    --sui-button_text-color__base: var(--color_02);
    --sui-button_text-color__active: var(--color_04);
    --sui-button_text-color__hover: var(--color_04);
    --sui-button_text-color__focus: var(--color_04);
    --sui-button_text-color__disable: var(--color_05);
    --sui-button_shadow__base: var(--color_06);
    --sui-menu-item__background__hover: var(--color_03);
    --sui-menu-border_color: var(--color_06);
    --sui-button_hamburger-background__base: var(--color_01);
    --sui-button_hamburger-background__hover: var(--color_03);
    --sui-button_hamburger-background__active: var(--color_07);
    --sui-button_hamburger-background__focus: var(--color_03);
    --sui-button_hamburger-background__disable: var(--color_01);
    --sui-button_hamburger-color__base: var(--color_02);
    --sui-button_hamburger-color__active: var(--color_02);
    --sui-button_hamburger-color__hover: var(--color_02);
    --sui-button_hamburger-color__focus: var(--color_02);
    --sui-button_hamburger-color__disable: var(--color_05);
    --sui-service-button-background: transparent;
    --sui-service-button-background__hover: var(--color_03);
    --sui-service-button-background__focus: var(--color_03);
    --sui-service-button-background__active: var(--color_07);
    --sui-service-button-background__disabled: transparent;
    --sui-service-button-text-color: var(--color_02);
    --sui-service-button-text-color__disabled: var(--color_05);
    --sui-service-button-border__focus: var(--color_06);
    --sui-label: var(--color_45);
    --sui-checkbox_background__unchecked: var(--color_01);
    --sui-checkbox_background__checked: var(--color_02);
    --sui-checkbox_background__indeterminate: var(--color_02);
    --sui-checkbox_background__disabled: var(--color_03);
    --sui-checkbox_background__error: var(--color_01);
    --sui-checkbox_background__hover: var(--color_01);
    --sui-checkbox_border__unchecked: var(--color_05);
    --sui-checkbox_border__checked: transparent;
    --sui-checkbox_border__indeterminate: transparent;
    --sui-checkbox_border__disabled: var(--color_05);
    --sui-checkbox_border__error: var(--color_38);
    --sui-checkbox_border__hover: var(--color_02);
    --sui-checkbox_outline__base: var(--color_06);
    --sui-checkbox_label__base: var(--color_02);
    --sui-checkbox_label__disabled: var(--color_05);
    --sui-checkbox_label__secondary: var(--color_08);
    --sui-checkbox_check__checked: var(--color_01);
    --sui-checkbox_check__indeterminate: var(--color_01);
    --sui-checkbox_check__disabled: var(--color_05);
    --sui-checkbox_group-header__base: var(--color_08);
    --sui-checkbox_animation_border__base: var(--color_06);
    --sui-collapse_default-text: var(--color_02);
    --sui-collapse_default-border: var(--color_06);
    --sui-collapse_default-divider: var(--color_06);
    --sui-collapse_default-chevron: var(--color_02);
    --sui-collapse_default-fill: var(--color_01);
    --sui-collapse_default-fill__expanded: var(--color_07);
    --sui-collapse_hover-text: var(--color_02);
    --sui-collapse_hover-border: var(--color_06);
    --sui-collapse_hover-divider: var(--color_06);
    --sui-collapse_hover-fill: var(--color_03);
    --sui-collapse_hover-chevron: var(--color_02);
    --sui-collapse_disabled-text: var(--color_05);
    --sui-collapse_disabled-border: var(--color_06);
    --sui-collapse_disabled-divider: var(--color_06);
    --sui-collapse_disabled-fill: var(--color_03);
    --sui-collapse_disabled-chevron: var(--color_05);
    --sui-collapse_borderless_text_hover: var(--color_10);
    --sui-collapse_borderless_text_expanded: var(--color_10);
    --sui-collapse_default-icon: var(--color_16);
    --sui-collapse_hover-icon: var(--color_16);
    --sui-collapse_disabled-icon: var(--color_46);
    --sui-core-status_color__error: var(--color_04);
    --sui-core-status_color__success: var(--color_15);
    --sui-core-status_color__warning: var(--color_41);
    --sui-core-status_color__default: var(--color_08);
    --sui-core-status_color__processing: var(--color_40);
    --sui-core-border_color__base: var(--color_06);
    --sui-core-border_color__nested: var(--color_08);
    --sui-custom-radio-group-border: var(--color_05);
    --sui-custom-radio-group-secondary-text: var(--color_08);
    --sui-custom-radio-group-border__selected: var(--color_02);
    --sui-custom-radio-group-border__focus: var(--color_05);
    --sui-custom-radio-group-border__hover: var(--color_02);
    --sui-custom-radio-group-border__disabled: var(--color_05);
    --sui-custom-radio-group-shadow: var(--color_06);
    --sui-custom-radio-group-background__hover: var(--color_03);
    --sui-custom-radio-group-background__active: var(--color_07);
    --sui-custom-radio-group-background__disabled: var(--color_01);
    --sui-custom-radio-group-indicator__success: var(--color_12);
    --sui-custom-radio-group-indicator__error: var(--color_08);
    --sui-datepicker_active-bar-background: var(--color_14);
    --sui-datepicker_border__base: var(--color_05);
    --sui-datepicker_border__disabled: var(--color_05);
    --sui-datepicker_background__disabled: var(--color_03);
    --sui-datepicker_color__disabled: var(--color_05);
    --sui-datepicker-placeholder_color__disabled: var(--color_05);
    --sui-datepicker-clear_color__base: var(--color_11);
    --sui-datepicker-clear_color__hover: var(--color_20);
    --sui-datepicker-clear_color__active: var(--color_02);
    --sui-datepicker-suffix_color__base: var(--color_08);
    --sui-datepicker-suffix_color__hover: var(--color_14);
    --sui-datepicker-suffix_color__focus: var(--color_08);
    --sui-datepicker-suffix_color__disabled: var(--color_05);
    --sui-datepicker-separator_color_base: var(--color_08);
    --sui-datepicker-separator_color_disabled: var(--color_05);
    --sui-datepicker_border-error__base: var(--color_10);
    --sui-datepicker_border-error__hover: var(--color_38);
    --sui-datepicker-panel_shadow__base: 0 8px 16px rgba(0, 0, 0, 0.12), 0 0 2px rgba(9, 36, 51, 0.12);
    --sui-datepicker-panel_border-color: var(--color_06);
    --sui-datepicker-panel_header-color__base: var(--color_02);
    --sui-datepicker-panel_header-color__hover: var(--color_04);
    --sui-datepicker-panel_header-color__active: var(--color_38);
    --sui-datepicker-panel_footer-color__base: var(--color_02);
    --sui-datepicker-panel_footer-color__hover: var(--color_04);
    --sui-datepicker-panel_footer-color__active: var(--color_47);
    --sui-datepicker-panel_date-color__base: var(--color_02);
    --sui-datepicker-panel_date-color-other__base: var(--color_08);
    --sui-datepicker-panel_date-border-current__base: var(--color_02);
    --sui-datepicker-panel_date-color__hover: var(--color_04);
    --sui-datepicker-panel_date-color-other__hover: var(--color_48);
    --sui-datepicker-panel_date-background__hover: var(--color_03);
    --sui-datepicker-panel_date-border-current__hover: var(--color_02);
    --sui-datepicker-panel_date-color__active: var(--color_47);
    --sui-datepicker-panel_date-color-other__active: var(--color_47);
    --sui-datepicker-panel_date-background__active: var(--color_07);
    --sui-datepicker-panel_date-border-current__active: var(--color_02);
    --sui-datepicker-panel_date-color__disabled: var(--color_06);
    --sui-datepicker-panel_date-color-other__disabled: var(--color_06);
    --sui-datepicker-panel_date-background__disabled: var(--color_01);
    --sui-datepicker-panel_date-border-current__disabled: var(--color_05);
    --sui-datepicker-panel_date-color__selected: var(--color_03);
    --sui-datepicker-panel_date-background__selected: var(--color_02);
    --sui-datepicker-panel_range-color__selected-hover: var(--color_04);
    --sui-datepicker-panel_range-background__base: var(--color_07);
    --sui-datepicker-panel_range-background__selected-hover: var(--color_03);
    --sui-datepicker-panel_range-border: var(--color_02);
    --sui-divider-color: var(--color_07);
    --sui-drawer_background: var(--color_01);
    --sui-drawer_border-color: var(--color_06);
    --sui-drawer_back-icon-color: var(--color_08);
    --sui-dropdown-menu-item-divider_background: var(--color_06);
    --sui-dropdown-menu-item-hover_background: var(--color_03);
    --sui-dropdown-menu-item-disabled-color: var(--color_05);
    --sui-dropdown-menu-item-color: var(--color_02);
    --sui-dropdown-menu-item-focus-shadow: var(--color_06);
    --sui-dropdown-menu-shadow-start: rgba(0, 0, 0, 0.12);
    --sui-dropdown-menu-shadow-end: rgba(9, 36, 51, 0.12);
    --sui-empty-basic-404-image_st0: var(--color_04);
    --sui-empty-basic-404-image_st1: var(--color_04);
    --sui-empty-basic-404-image_st3: var(--color_01);
    --sui-empty-basic-404-image_st4: var(--color_49);
    --sui-empty-basic-404-image_st5: var(--color_02);
    --sui-empty-basic-404-image_st6: var(--color_02);
    --sui-empty-basic-404-image_st7: var(--color_02);
    --sui-empty-basic-backups-image_st0: var(--color_01);
    --sui-empty-basic-backups-image_st2: var(--color_02);
    --sui-empty-basic-backups-image_st3: var(--color_04);
    --sui-empty-basic-backups-image_st4: var(--color_51);
    --sui-empty-basic-backups-image_st5: var(--color_50);
    --sui-empty-basic-banner-image_st0: var(--color_02);
    --sui-empty-basic-banner-image_st1: var(--color_52);
    --sui-empty-basic-banner-image_st2: var(--color_01);
    --sui-empty-basic-banner-image_st3: var(--color_01);
    --sui-empty-basic-cdn-image_st0: var(--color_51);
    --sui-empty-basic-cdn-image_st1: var(--color_02);
    --sui-empty-basic-cdn-image_st2: var(--color_52);
    --sui-empty-basic-cdn-image_st3: var(--color_01);
    --sui-empty-basic-cloud-storage-image_st0: var(--color_52);
    --sui-empty-basic-cloud-storage-image_st1: var(--color_62);
    --sui-empty-basic-cloud-storage-image_st2: var(--color_01);
    --sui-empty-basic-cloud-storage-image_st3: var(--color_53);
    --sui-empty-basic-cloud-storage-image_st4: var(--color_54);
    --sui-empty-basic-colocation-image_st0: var(--color_55);
    --sui-empty-basic-colocation-image_st1: var(--color_56);
    --sui-empty-basic-colocation-image_st2: var(--color_01);
    --sui-empty-basic-colocation-image_st3: var(--color_55);
    --sui-empty-basic-colocation-image_st4: var(--color_01);
    --sui-empty-basic-container-registry-image_st1: var(--color_01);
    --sui-empty-basic-container-registry-image_st2: var(--color_62);
    --sui-empty-basic-container-registry-image_st3: var(--color_57);
    --sui-empty-basic-container-registry-image_st4: var(--color_04);
    --sui-empty-basic-container-registry-image_st5: var(--color_51);
    --sui-empty-basic-container-registry-image_st6: var(--color_01);
    --sui-empty-basic-databases-image_st0: var(--color_01);
    --sui-empty-basic-databases-image_st1: var(--color_55);
    --sui-empty-basic-databases-image_st2: var(--color_58);
    --sui-empty-basic-databases-image_st3: var(--color_58);
    --sui-empty-basic-databases-image_st4: var(--color_58);
    --sui-empty-basic-databases-image_st6: var(--color_01);
    --sui-empty-basic-databases-image_st7: var(--color_59);
    --sui-empty-basic-databases-image_st8: var(--color_58);
    --sui-empty-basic-databases-users-image_st0: var(--color_02);
    --sui-empty-basic-databases-users-image_st1: var(--color_04);
    --sui-empty-basic-databases-users-image_st2: var(--color_01);
    --sui-empty-basic-databases-connect-image_st0: var(--color_52);
    --sui-empty-basic-databases-connect-image_st1: var(--color_01);
    --sui-empty-basic-databases-connect-image_st2: var(--color_51);
    --sui-empty-basic-databases-connect-image_st3: var(--color_02);
    --sui-empty-basic-databases-monitoring-image_st0: var(--color_01);
    --sui-empty-basic-databases-monitoring-image_st1: var(--color_60);
    --sui-empty-basic-databases-monitoring-image_st2: var(--color_52);
    --sui-empty-basic-databases-monitoring-image_st3: var(--color_62);
    --sui-empty-basic-databases-settings-image_st0: var(--color_52);
    --sui-empty-basic-databases-settings-image_st1: var(--color_51);
    --sui-empty-basic-databases-settings-image_st2: var(--color_01);
    --sui-empty-basic-databases-settings-image_st3: var(--color_02);
    --sui-empty-basic-empty-image_st0: var(--color_58);
    --sui-empty-basic-empty-image_st1: var(--color_55);
    --sui-empty-basic-empty-image_st2: var(--color_01);
    --sui-empty-basic-empty-image_st3: var(--color_55);
    --sui-empty-basic-empty-search-image_st0: var(--color_01);
    --sui-empty-basic-empty-search-image_st1: var(--color_55);
    --sui-empty-basic-empty-search-image_st2: var(--color_58);
    --sui-empty-basic-error-image_st0: var(--color_02);
    --sui-empty-basic-error-image_st1: var(--color_04);
    --sui-empty-basic-error-image_st2: var(--color_01);
    --sui-empty-basic-firewall-image_st1: var(--color_61);
    --sui-empty-basic-firewall-image_st2: var(--color_02);
    --sui-empty-basic-kubernetes-image_st0: var(--color_55);
    --sui-empty-basic-kubernetes-image_st1: var(--color_01);
    --sui-empty-basic-kubernetes-image_st2: var(--color_58);
    --sui-empty-basic-media-platform-image_st0: var(--color_52);
    --sui-empty-basic-media-platform-image_st1: var(--color_01);
    --sui-empty-basic-media-platform-image_st2: var(--color_02);
    --sui-empty-basic-media-platform-image_st3: var(--color_62);
    --sui-empty-basic-network-image_st1: var(--color_52);
    --sui-empty-basic-network-image_st2: var(--color_02);
    --sui-empty-basic-network-image_st3: var(--color_02);
    --sui-empty-basic-secrets-manager-image_st1: var(--color_62);
    --sui-empty-basic-secrets-manager-image_st2: var(--color_52);
    --sui-empty-basic-secrets-manager-image_st3: var(--color_01);
    --sui-empty-basic-serverless-image_st1: var(--color_01);
    --sui-empty-basic-serverless-image_st2: var(--color_62);
    --sui-empty-basic-serverless-image_st3: var(--color_52);
    --sui-empty-basic-unregistered-image_st1: var(--color_52);
    --sui-empty-basic-unregistered-image_st2: var(--color_02);
    --sui-empty-basic-unregistered-image_st3: var(--color_01);
    --sui-empty-basic-unregistered-image_st4: var(--color_02);
    --sui-empty-basic-unregistered-image_st5: var(--color_01);
    --sui-empty-basic-file-storage-image_st0: var(--color_02);
    --sui-empty-basic-file-storage-image_st1: var(--color_01);
    --sui-empty-basic-file-storage-image_st2: var(--color_04);
    --sui-empty-basic-file-storage-image_st3: var(--color_02);
    --sui-empty-basic-global-router-image_st0: var(--color_52);
    --sui-empty-basic-global-router-image_st1: var(--color_01);
    --sui-empty-basic-global-router-image_st2: var(--color_62);
    --sui-empty-basic-cluster-1c_st0: var(--color_02);
    --sui-empty-basic-cluster-1c_st1: var(--color_01);
    --sui-empty-basic-cluster-1c_st2: var(--color_04);
    --sui-empty-basic-database-1c-image_st0: var(--color_01);
    --sui-empty-basic-database-1c-image_st1: var(--color_04);
    --sui-empty-basic-database-1c-image_st2: var(--color_02);
    --sui-empty-basic-database-1c-image_st3: var(--color_02);
    --sui-empty-basic-download-infobase-1c-image_st0: var(--color_02);
    --sui-empty-basic-download-infobase-1c-image_st1: var(--color_01);
    --sui-empty-basic-download-infobase-1c-image_st2: var(--color_04);
    --sui-empty-basic-infobase-1c-image_st0: var(--color_02);
    --sui-empty-basic-infobase-1c-image_st1: var(--color_01);
    --sui-empty-basic-infobase-1c-image_st2: var(--color_04);
    --sui-empty-basic-license-1c-image_st0: var(--color_04);
    --sui-empty-basic-license-1c-image_st1: var(--color_63);
    --sui-empty-basic-license-1c-image_st2: var(--color_01);
    --sui-empty-basic-license-1c-image_st3: var(--color_02);
    --sui-empty-lun-dss_st0: var(--color_01);
    --sui-empty-lun-dss_st1: var(--color_02);
    --sui-empty-lun-dss_st2: var(--color_04);
    --sui-empty-lun-dss_background: var(--color_64);
    --sui-empty-state-use-default-image: none;
    --sui-empty-state-use-special-image: block;
    --sui-empty-basic-load-balancer_st0: var(--color_02);
    --sui-empty-basic-load-balancer_st1: var(--color_04);
    --sui-empty-basic-load-balancer_st2: var(--color_01);
    --sui-empty-basic-load-balancer_st3: var(--color_04);
    --sui-empty-basic-load-balancer_st4: var(--color_02);
    --sui-qoute-color__base: var(--color_08);
    --sui-form-label-color: var(--color_02);
    --sui-form-helper-color: var(--color_08);
    --sui-form-error-color: var(--color_10);
    --sui-form-success-color: var(--color_12);
    --sui-info-block_background__base: var(--color_03);
    --sui-info-block_border-color__base: var(--color_07);
    --sui-input_border_color__base: var(--color_05);
    --sui-input_border_color__hover: var(--color_02);
    --sui-input_border_color__focus: var(--color_02);
    --sui-input_border_color__active: var(--color_02);
    --sui-input_border-color__error: var(--color_10);
    --sui-input_border-color__error__hover: var(--color_38);
    --sui-input_border_color__disabled: var(--color_05);
    --sui-input_color__base: var(--color_02);
    --sui-input_color__disabled: var(--color_05);
    --sui-input_background-color__base: transparent;
    --sui-input_background-color__disabled: var(--color_03);
    --sui-input_placeholder_color__base: var(--color_05);
    --sui-input_placeholder_color__hover: var(--color_02);
    --sui-input_placeholder_color__focused: var(--color_11);
    --sui-input_placeholder_color__disabled: var(--color_05);
    --sui-input-search-button-color__base: var(--color_05);
    --sui-input-search-button-color__hover: var(--color_02);
    --sui-input-search-button-background-color__base: transparent;
    --sui-input-search-button-background-color__hover: transparent;
    --sui-input_clear_button_color__base: var(--color_05);
    --sui-input_clear_button_color__hover: var(--color_21);
    --sui-input_clear_button_color__focus: var(--color_20);
    --sui-input_password_button_color__base: var(--color_08);
    --sui-input_password_button_color__hover: var(--color_14);
    --sui-input_password_button_color__focus: var(--color_02);
    --sui-input_box-shadow__active: var(--color_06);
    --sui-input_box-shadow_error: var(--color_28);
    --sui-input-textarea_count_color: var(--color_05);
    --sui-list_border-color: var(--color_06);
    --sui-modal-border-color__base: var(--color_06);
    --sui-modal-text-color__base: var(--color_02);
    --sui-modal-close-icon__disabled: var(--color_05);
    --sui-notification_background: var(--color_01);
    --sui-notification_background__info: var(--color_23);
    --sui-notification_background__warning: var(--color_24);
    --sui-notification_background__error: var(--color_17);
    --sui-notification_background__success: var(--color_18);
    --sui-notification_icon-color: var(--color_21);
    --sui-notification_icon-color__info: var(--color_09);
    --sui-notification_icon-color__warning: var(--color_16);
    --sui-notification_icon-color__error: var(--color_10);
    --sui-notification_icon-color__success: var(--color_12);
    --sui-number-border: var(--color_05);
    --sui-number-border__hover: var(--color_02);
    --sui-number-border__error: var(--color_04);
    --sui-number-border__error-hover: var(--color_13);
    --sui-number-text: var(--color_02);
    --sui-number-text__disabled: var(--color_05);
    --sui-number-background: transparent;
    --sui-number-background__disabled: var(--color_03);
    --sui-number-outline: var(--color_06);
    --sui-number-outline--error: var(--color_66);
    --sui-number-handler-color: var(--color_02);
    --sui-number-handler-color__active: var(--color_04);
    --sui-number-handler-color__disabled: var(--color_05);
    --sui-sui-number-handler-bg: transparent;
    --sui-number-handler-bg__hover: var(--color_06);
    --sui-number-handler-bg__active: var(--color_05);
    --sui-object_background__base: transparent;
    --sui-object_border__base: var(--color_06);
    --sui-object_shadow__hover: 0 4px 8px rgba(0, 0, 0, 0.12), 0 0 2px rgba(9, 36, 51, 0.12);
    --sui-object-color__disabled: var(--color_05);
    --sui-pagination-item_color__base: var(--color_02);
    --sui-pagination-item_color__active: var(--color_07);
    --sui-pagination-item_color__hover: var(--color_04);
    --sui-pagination-item_color__pressed: var(--color_13);
    --sui-pagination-item_bg__active: var(--color_02);
    --sui-pagination-item_bg__hover: var(--color_06);
    --sui-pagination-item_bg__pressed: var(--color_05);
    --sui-pagination-next-button_color__base: var(--color_02);
    --sui-pagination-next-button_color__disabled: var(--color_05);
    --sui-pagination-pagination-input-border_color: var(--color_05);
    --sui-pagination-input_border_color__active: var(--color_02);
    --sui-pagination-input_box-shadow__active: var(--color_06);
    --sui-popover_background-color__base: var(--color_14);
    --sui-popover_title_color__base: var(--color_01);
    --sui-popover_content_color__base: var(--color_01);
    --sui-popover_delimeter_color__base: var(--color_08);
    --sui-popover_background-color__info: var(--color_01);
    --sui-popover_title_color__info: var(--color_02);
    --sui-popover_content_color__info: var(--color_02);
    --sui-popover_delimeter_color__info: var(--color_08);
    --sui-popover_box-shadow__info__1: rgba(0, 0, 0, 0.12);
    --sui-popover_box-shadow__info__2: rgba(9, 36, 51, 0.12);
    --sui-popover_arrow_box-shadow__info: rgba(9, 36, 51, 0.12);
    --sui-popover_link_color__base: var(--color_42);
    --sui-popover_link_color__base__hover: var(--color_43);
    --sui-popover_link_color__info: var(--color_09);
    --sui-popover_link_color__info__hover: var(--color_44);
    --sui-popup_background-color__base: var(--color_01);
    --sui-progress-gray: var(--color_11);
    --sui-progress-gray-background: var(--color_06);
    --sui-progress-red: var(--color_10);
    --sui-progress-red-background: var(--color_17);
    --sui-progress-text-color: var(--color_14);
    --sui-radio__disabled: var(--color_05);
    --sui-radio__base: var(--color_02);
    --sui-radio__secondary: var(--color_08);
    --sui-radio__error: var(--color_10);
    --sui-radio_dot__base: var(--color_02);
    --sui-radio_dot-border__base: var(--color_05);
    --sui-radio_dot__shadow: var(--color_06);
    --sui-radio_input__disabled: var(--color_03);
    --sui-radio_button__hover: var(--color_02);
    --sui-radio_button__active: var(--color_02);
    --sui-radioselect__shadow: var(--color_06);
    --sui-mark__shadow: var(--color_06);
    --sui-rate__color: var(--color_16);
    --sui-rate__bg_color: var(--color_05);
    --sui-segmented_background__main: var(--color_07);
    --sui-segmented_background__active: var(--color_01);
    --sui-segmented_background__main_disabled: var(--color_07);
    --sui-segmented_background__active_disabled: var(--color_03);
    --sui-segmented_font__main: var(--color_08);
    --sui-segmented_font__active: var(--color_02);
    --sui-segmented_font__disabled: var(--color_05);
    --sui-segmented_font__hover: var(--color_04);
    --sui-segmented_item_border__focus_visible: var(--color_05);
    --sui-select_border__base: var(--color_05);
    --sui-select_border__hover: var(--color_02);
    --sui-select_border__pressed: var(--color_06);
    --sui-select_border__error: var(--color_10);
    --sui-select_border__error__hover: var(--color_38);
    --sui-select_background__base: transparent;
    --sui-select_background__disabled: var(--color_03);
    --sui-select_borderless_background__hover: var(--color_03);
    --sui-select_borderless_background__error: var(--color_17);
    --sui-select_borderless_background__error__hover: var(--color_28);
    --sui-select_arrow__base: var(--color_02);
    --sui-select_arrow__hover: var(--color_02);
    --sui-select_arrow__disabled: var(--color_05);
    --sui-select_text__base: var(--color_08);
    --sui-select_text__filled: var(--color_02);
    --sui-select_text__disabled: var(--color_05);
    --sui-select_tag_background__base: var(--color_07);
    --sui-select_tag_background__disabled: var(--color_03);
    --sui-header_background: var(--color_01);
    --sui-header-border_color: var(--color_06);
    --sui-select_tag_remove__base: var(--color_05);
    --sui-select_tag_remove__hover: var(--color_08);
    --sui-select_option_text__base: var(--color_02);
    --sui-select_option_text__secondary: var(--color_08);
    --sui-select_option_text__checked: var(--color_04);
    --sui-select_option_text__disabled: var(--color_05);
    --sui-select_option_note_text__base: var(--color_08);
    --sui-select_option_note_text__disabled: var(--color_05);
    --sui-select_option_background__hover: var(--color_03);
    --sui-select_clear__base: var(--color_21);
    --sui-select_clear__hover: var(--color_20);
    --sui-select_clear__pressed: var(--color_02);
    --sui-select_dropdown_shadow__first: rgba(0, 0, 0, 0.12);
    --sui-select_dropdown_shadow__second: rgba(9, 36, 51, 0.12);
    --sui-select_scrollbar-webkit-background: rgba(0, 0, 0, 0.5);
    --sui-select_scrollbar-webkit-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    --sui-select_divider-color: var(--color_06);
    --sui-shadow_color: rgba(0, 0, 0, 0.12);
    --sui-shadow_color__additional: rgba(9, 36, 51, 0.12);
    --sui-shadow_color__focus_visible: var(--color_06);
    --sui-skeleton_color: var(--color_07);
    --sui-skeleton_color__alt: var(--color_06);
    --sui-skeleton_image-color: var(--color_06);
    --sui-slider-handle_text_color__base: var(--color_02);
    --sui-slider_handle_border: var(--color_04);
    --sui-slider_handle_background_color__hover: var(--color_04);
    --sui-slider_handle_background_color__disabled: var(--color_01);
    --sui-slider_handle_border_color__disabled: var(--color_05);
    --sui-slider_handle_background_color__disabled__hover: var(--color_11);
    --sui-slider_handle_shadow: var(--color_19);
    --sui-slider_rail_color__base: var(--color_05);
    --sui-submenu-item_color__hover: var(--color_04);
    --sui-slider_rail_background_color__hover: var(--color_11);
    --sui-slider_rail_background_color__disabled: var(--color_06);
    --sui-slider_rail_background_color__disabled__hover: var(--color_05);
    --sui-slider_track_background_color__base: var(--color_04);
    --sui-slider_track_background_color__hover: var(--color_13);
    --sui-slider_track_background_color__disabled: var(--color_05);
    --sui-slider_track_background_color__disabled__hover: var(--color_11);
    --sui-spin_color: var(--color_05);
    --sui-spin_color-background: var(--color_07);
    --sui-steps_not-custom-icon-color__process: var(--color_01);
    --sui-steps_icon-color__process: var(--color_14);
    --sui-steps_icon-color__wait: var(--color_05);
    --sui-steps_icon-color__error: var(--color_04);
    --sui-steps_title-color__finish: var(--color_14);
    --sui-steps_title-color__process: var(--color_14);
    --sui-steps_title-color__wait: var(--color_05);
    --sui-steps_title-color__error: var(--color_04);
    --sui-steps_description-color__finish: var(--color_08);
    --sui-steps_description-color__process: var(--color_08);
    --sui-steps_description-color__wait: var(--color_05);
    --sui-steps_description-color__error: var(--color_04);
    --sui-steps_tail-color__finish: var(--color_14);
    --sui-steps_tail-color__process: var(--color_06);
    --sui-steps_color__hover: var(--color_02);
    --sui-steps_stroke-path: var(--color_14);
    --sui-steps_stroke-trail: var(--color_07);
    --sui-switch_handle__checked: var(--color_12);
    --sui-switch_handle__unchecked: var(--color_05);
    --sui-switch_handle__checked_loading: var(--color_25);
    --sui-switch_handle__unchecked_loading: var(--color_06);
    --sui-switch_handle__checked_disabled: var(--color_25);
    --sui-switch_handle__unchecked_disabled: var(--color_06);
    --sui-switch_background__base: var(--color_01);
    --sui-switch_background__loading: var(--color_03);
    --sui-switch_background__disabled: var(--color_03);
    --sui-switch_border__base: var(--color_05);
    --sui-switch_border__loading: var(--color_05);
    --sui-switch_border__disabled: var(--color_05);
    --sui-switch_shadow__base: var(--color_06);
    --sui-switch_progress__base: var(--color_01);
    --sui-switch_label__disabled: var(--color_05);
    --sui-table_border-color__base: var(--color_06);
    --sui-table_background__hover: var(--color_03);
    --sui-table_header-font-color__base: var(--color_08);
    --sui-table_sorter-icon__hover: var(--color_20);
    --sui-table_filter-icon__hover: var(--color_07);
    --sui-table_filter-icon__pressed: var(--color_06);
    --sui-table_filter-dropdown__shadow-1: rgba(9, 36, 51, 0.12);
    --sui-table_filter-dropdown__shadow-2: rgba(0, 0, 0, 0.12);
    --sui-table_filter-dropdown-item__hover: var(--color_03);
    --sui-table_filter-dropdown-item__selected: var(--color_03);
    --sui-table_expandable-row-chevron__primary: var(--color_21);
    --sui-table_expandable-row-chevron__hover: var(--color_07);
    --sui-table_expandable-row-chevron__focus: var(--color_07);
    --sui-table_expandable-row-chevron-shadow__focus: var(--color_06);
    --sui-table_expandable-row-chevron-icon__hover: var(--color_04);
    --sui-table-empty-text-font: var(--color_86);
    --sui-tabs_tab-color: var(--color_02);
    --sui-tabs_tab-color__hover: var(--color_04);
    --sui-tabs_tab-color__active: var(--color_04);
    --sui-tabs_tab-color__disabled: var(--color_05);
    --sui-tabs_active-bar-color: var(--color_04);
    --sui-tabs_tab-border-color__focus: var(--color_06);
    --sui-tabs_content-border-color: var(--color_07);
    --sui-tabs-card_background-color: var(--color_03);
    --sui-tabs-card_border-color: var(--color_07);
    --sui-tabs-card_background-color__active: var(--color_01);
    --sui-tabs-card_tab-color__disabled: var(--color_05);
    --sui-tag_background__base: var(--color_07);
    --sui-tag_close-icon__base: var(--color_05);
    --sui-tag_close-icon__hover: var(--color_08);
    --sui-tag_text__base: var(--color_02);
    --sui-tag_text__white: var(--color_01);
    --sui-tag_background__red: var(--color_37);
    --sui-tag_background__green: var(--color_67);
    --sui-tag_background__magenta: var(--color_68);
    --sui-tag_background__volcano: var(--color_39);
    --sui-tag_background__purple: var(--color_69);
    --sui-tag_background__geekblue: var(--color_70);
    --sui-tag_background__base-hover: var(--color_06);
    --sui-tag_background__base-active: var(--color_05);
    --sui-tag_background__red-hover: var(--color_10);
    --sui-tag_background__red-active: var(--color_48);
    --sui-tag_background__green-hover: var(--color_12);
    --sui-tag_background__green-active: var(--color_15);
    --sui-tag_background__magenta-hover: var(--color_71);
    --sui-tag_background__magenta-active: var(--color_33);
    --sui-tag_background__volcano-hover: var(--color_41);
    --sui-tag_background__volcano-active: var(--color_34);
    --sui-tag_background__purple-hover: var(--color_72);
    --sui-tag_background__purple-active: var(--color_35);
    --sui-tag_background__geekblue-hover: var(--color_73);
    --sui-tag_background__geekblue-active: var(--color_36);
    --sui-tag_close-icon__red: var(--color_74);
    --sui-tag_close-icon__green: var(--color_25);
    --sui-tag_close-icon__magenta: var(--color_75);
    --sui-tag_close-icon__volcano: var(--color_76);
    --sui-tag_close-icon__purple: var(--color_77);
    --sui-tag_close-icon__geekblue: var(--color_78);
    --sui-tag_close-icon__red-hover: var(--color_28);
    --sui-tag_close-icon__green-hover: var(--color_79);
    --sui-tag_close-icon__magenta-hover: var(--color_80);
    --sui-tag_close-icon__volcano-hover: var(--color_81);
    --sui-tag_close-icon__purple-hover: var(--color_82);
    --sui-tag_close-icon__geekblue-hover: var(--color_83);
    --sui-tag_background__disabled: var(--color_03);
    --sui-tag_color__disabled: var(--color_05);
    --sui-tag_border__focus: var(--color_06);
    --sui-timeline_color__blue: var(--color_14);
    --sui-timeline_color__red: var(--color_37);
    --sui-timeline_color__green: var(--color_67);
    --sui-timeline_color__gray: var(--color_06);
    --sui-timeline_color__spinner: var(--color_05);
    --sui-timeline__font-color: var(--color_02);
    --sui-tree_background__base: transparent;
    --sui-tree_background__hover: var(--color_03);
    --sui-tree_text__base: var(--color_02);
    --sui-tree_text__disabled: var(--color_05);
    --sui-tree_text__checked: var(--color_04);
    --sui-tree_loading__base: var(--color_08);
    --sui-tree_switcher__base: var(--color_02);
    --sui-tree_switcher__disabled: var(--color_05);
    --sui-typography_base: var(--color_02);
    --sui-typography_header: var(--color_02);
    --sui-typography_link: var(--color_09);
    --sui-typography_link__disabled: var(--color_26);
    --sui-typography_link__hover: var(--color_40);
    --sui-typography_link__visited: var(--color_09);
    --sui-typography_link__visited__hover: var(--color_40);
    --sui-typography_link_outline__focused: var(--color_06);
    --sui-typography_obscure-link: var(--color_01);
    --sui-typography_obscure-link__disabled: var(--color_05);
    --sui-typography_obscure-link__hover: var(--color_84);
    --sui-typography_obscure-link__visited: var(--color_01);
    --sui-typography_obscure-link__visited__hover: var(--color_84);
    --sui-typography_obscure-link_outline__focused: var(--color_85);
    --sui-typography_low-emphasis: var(--color_08);
    --sui-typography_error: var(--color_10);
    --font-family-main: 'Manrope VF', Manrope, sans-serif;
    --font-family-monospace: 'IBM Plex Mono', sans-serif;
    --font-family-status: 'Manrope VF', Manrope, sans-serif;
    --sui-typography_disabled: var(--color_11);
    --sui-typography_code_background: var(--color_03);
    --sui-typography_code_border: var(--color_07);
    --sui-typography_footnote: var(--color_08);
    --sui-typography_desktop_body_fontsize: 16px;
    --sui-typography_desktop_small_fontsize: 14px;
    --sui-typography_desktop_extra-small_fontsize: 12px;
    --sui-typography_desktop_h1_fontsize: 30px;
    --sui-typography_desktop_h2_fontsize: 26px;
    --sui-typography_desktop_h3_fontsize: 22px;
    --sui-typography_desktop_h4_fontsize: 18px;
    --sui-typography_desktop_monospace_fontsize: 16px;
    --sui-typography_desktop_status_fontsize: 16px;
    --sui-typography_desktop_error_fontsize: 12px;
    --sui-typography_tablet_body_fontsize: 14px;
    --sui-typography_tablet_small_fontsize: 12px;
    --sui-typography_tablet_extra-small_fontsize: 12px;
    --sui-typography_tablet_h1_fontsize: 32px;
    --sui-typography_tablet_h2_fontsize: 26px;
    --sui-typography_tablet_h3_fontsize: 20px;
    --sui-typography_tablet_h4_fontsize: 16px;
    --sui-typography_tablet_monospace_fontsize: 14px;
    --sui-typography_tablet_status_fontsize: 16px;
    --sui-typography_tablet_error_fontsize: 12px;
    --sui-typography_mobile_body_fontsize: 14px;
    --sui-typography_mobile_small_fontsize: 12px;
    --sui-typography_mobile_extra-small_fontsize: 12px;
    --sui-typography_mobile_h1_fontsize: 24px;
    --sui-typography_mobile_h2_fontsize: 20px;
    --sui-typography_mobile_h3_fontsize: 18px;
    --sui-typography_mobile_h4_fontsize: 16px;
    --sui-typography_mobile_monospace_fontsize: 14px;
    --sui-typography_mobile_status_fontsize: 12px;
    --sui-typography_mobile_error_fontsize: 12px;
    --sui-upload_background__base: var(--color_01);
    --sui-upload_list_item_border__base: var(--color_06);
    --sui-upload_list_item_delete_button__base: var(--color_05);
    --sui-upload_list_item_delete_button__hover: var(--color_21);
    --sui-upload_list_item_delete_button__focus: var(--color_05);
    --sui-upload_list_item_delete_button__focus_visible: var(--color_06);
    --sui-upload_list_item_icon__base: var(--color_02);
    --sui-upload_list_item__error: var(--color_10);
    --sui-upload_list_item_background__hover: var(--color_03);
    --sui-upload_drag_icon__base: var(--color_02);
    --sui-upload_drag_background__base: transparent;
    --sui-upload_drag_text__base: var(--color_02);
    --sui-upload_drag_hint__base: var(--color_08);
    --sui-upload_drag_border__base: var(--color_06);
    --sui-upload_drag_border__hover: var(--color_09);
    --sui-upload_list-item-percent-background: var(--color_07);
    --sui-upload_list-item-percent-background_alt: var(--color_06);
    --sui-primary-1: var(--color_04);
    --sui-primary-2: var(--color_04);
    --sui-primary-3: var(--color_04);
    --sui-secondary-1: var(--color_02);
    --sui-secondary-2: var(--color_02);
    --sui-secondary-3: var(--color_02);
    --sui-stroke-trex: var(--color_02);
    --sui-inside-1: var(--color_01);
    --sui-inside-2: var(--color_01);
    --sui-color-mxode: var(--color_01);
    --sui-gradient-start: var(--color_64);
    --sui-gradient-stop: var(--color_01);
    --sui-gradient-opacity: 1;
    --sui-global_background: var(--color_01);
    --sui-global-inverted_background: var(--color_65);
    --sui-global_control-background: var(--color_01);
}

body {
    font-size: var(--sui-typography_desktop_body_fontsize);
    font-family: var(--font-family-main), serif;
    font-variant-ligatures: normal;
    font-feature-settings: 'calt', 'liga';
    font-weight: 400;
}
